$color-primary: #FDF3E9;
$color-primary-50: #ffffff;
$color-primary-100: #ffffff;
$color-primary-200: #ffffff;
$color-primary-300: #ffffff;
$color-primary-400: #ffffff;
$color-primary-500: #fdf3e9;
$color-primary-600: #fae4cd;
$color-primary-700: #f8d4b1;
$color-primary-800: #f5c595;
$color-primary-900: #f3b679;
$color-secondary: #262020;
$color-secondary-50: #796666;
$color-secondary-100: #685858;
$color-secondary-200: #584a4a;
$color-secondary-300: #473c3c;
$color-secondary-400: #372e2e;
$color-secondary-500: #262020;
$color-secondary-600: #151212;
$color-secondary-700: #050404;
$color-secondary-800: #000000;
$color-secondary-900: #000000;
$color-tertiary: #347596;
$color-tertiary-50: #8cbed7;
$color-tertiary-100: #75b1cf;
$color-tertiary-200: #5ea4c7;
$color-tertiary-300: #4897bf;
$color-tertiary-400: #3c87ad;
$color-tertiary-500: #347596;
$color-tertiary-600: #2c637f;
$color-tertiary-700: #245269;
$color-tertiary-800: #1c4052;
$color-tertiary-900: #142e3b;
$color-primary_accent: #F50063;
$color-primary_accent-50: #ff8fbc;
$color-primary_accent-100: #ff70aa;
$color-primary_accent-200: #ff5298;
$color-primary_accent-300: #ff3386;
$color-primary_accent-400: #ff1573;
$color-primary_accent-500: #f50063;
$color-primary_accent-600: #d60057;
$color-primary_accent-700: #b8004a;
$color-primary_accent-800: #99003e;
$color-primary_accent-900: #7b0032;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.4rem;

:root {
  --color-primary: #FDF3E9;
  --color-primary-50: #ffffff;
  --color-primary-100: #ffffff;
  --color-primary-200: #ffffff;
  --color-primary-300: #ffffff;
  --color-primary-400: #ffffff;
  --color-primary-500: #fdf3e9;
  --color-primary-600: #fae4cd;
  --color-primary-700: #f8d4b1;
  --color-primary-800: #f5c595;
  --color-primary-900: #f3b679;
  --color-secondary: #262020;
  --color-secondary-50: #796666;
  --color-secondary-100: #685858;
  --color-secondary-200: #584a4a;
  --color-secondary-300: #473c3c;
  --color-secondary-400: #372e2e;
  --color-secondary-500: #262020;
  --color-secondary-600: #151212;
  --color-secondary-700: #050404;
  --color-secondary-800: #000000;
  --color-secondary-900: #000000;
  --color-tertiary: #347596;
  --color-tertiary-50: #8cbed7;
  --color-tertiary-100: #75b1cf;
  --color-tertiary-200: #5ea4c7;
  --color-tertiary-300: #4897bf;
  --color-tertiary-400: #3c87ad;
  --color-tertiary-500: #347596;
  --color-tertiary-600: #2c637f;
  --color-tertiary-700: #245269;
  --color-tertiary-800: #1c4052;
  --color-tertiary-900: #142e3b;
  --color-primary_accent: #F50063;
  --color-primary_accent-50: #ff8fbc;
  --color-primary_accent-100: #ff70aa;
  --color-primary_accent-200: #ff5298;
  --color-primary_accent-300: #ff3386;
  --color-primary_accent-400: #ff1573;
  --color-primary_accent-500: #f50063;
  --color-primary_accent-600: #d60057;
  --color-primary_accent-700: #b8004a;
  --color-primary_accent-800: #99003e;
  --color-primary_accent-900: #7b0032;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.4rem;
}